.singlePost{
    flex: 9;

}

.workoutContainer{
    display: inline-block;
    width: 20%;
    height: 50%;
    position: relative;
    margin: -2px;
}

.exerciseCol{
    display: inline-block;
    background-color: lightgoldenrodyellow;

    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    text-align: right;
}

i {
    font-style: normal;
}

.weightCol{
    background-color: lightgreen;

}

.setCol{
    background-color: lightskyblue;
    }

.repCol{
    display: inline-block;
    background-color: lavender;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    text-align: justify;
}


.singlePostWrapper{
    padding: 20px;
    padding-right: 0px;
}

.singlePostImg{
    width: 75%;
    border-radius: 5px;
    object-fit: cover;
}

.singlePostTitle{
    text-align: center;
    margin: 10px;
    font-family: 'Playfair Display', serif;
    font-size: 28px;

}

.singlePostEdit{
float: right;
font-size: 16px;
}

.singlePostIcon{
    margin-left: 10px;
    cursor: pointer;
}

.singlePostIcon:first-child{
    color: lightseagreen;
}

.singlePostIcon:last-child{
    color:tomato;
}

.singlePostInfo{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: rgb(52, 52, 52);
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.singlePostDescription{
    color: #777;
    font-size: 16px;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    
}